@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}

html,
body {
  @apply h-full w-full;
}

body {
  @apply overflow-hidden;
}

#root {
  @apply h-screen w-screen;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-hospital-700 bg-opacity-30 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-opacity-50;
}
